*
{
	margin: 0;
	padding: 0;
}

header
{
	height: 100vh;
	background-image: url(../images/Annapurna.jpg);
	background-size: cover;
	background-position: center;
}

body
{
	font-family: sans-serif;
}

.regbox
{
	width: 420px;
	height: 620px;
	background: #333;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 30px 30px;
}

h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 28px;
}

.regbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.regbox input
{
	width: 100%;
	margin-bottom: 20px;
}
.regbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 25px;
	color: #fff
	font-size: 14px;
}
.regbox input[type="submit"]
{
	margin-top: 10px;
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.regbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

select
{
	margin-top: 10px;
}

select:hover
{
	color: #FF0000;
}
